{% load static %}

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Pénzügyőr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
{# Menü: #}
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">Pénzügyőr</a>

    {# Kijelentkezés gomb áthelyezve a menü végére. #}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger fw-bold">Kijelentkezés</a>
  </div>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Üdv a főoldalon, {{ user.username }}!</h1>

    <h3 id="month-info" class="mb-2">Tranzakciós összefoglaló {% now "Y. F" %}:</h3>

    <div class="row text-center">
        <div class="col-md-4">
            <div class="card bg-success text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Bevétel</h5>
                    <p id="card-income" class="card-text fs-3">{{ this_month_income }} Ft</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-danger text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Kiadás</h5>
                    <p id="card-expense" class="card-text fs-3">{{ this_month_expense }} Ft</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary text-white mb-3">
                <div class="card-body">
                    <h5 class="card-title">Egyenleg</h5>
                    <p class="card-text fs-3 fw-bold">{{ balance }} Ft</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-4">
        <a href="{% url 'add_transaction' %}" class="btn btn-warning fw-bold">Új tranzakció rögzítése</a>
    </div>

    <h3>Utolsó tranzakciók</h3>

    {# Hónapra szűrés gombokkal: #}
    <div id="month-list" class="mb-3">
        {% for date in month_list %}
        <button class="btn btn-outline-secondary btn-sm month-btn mb-1">{{ date.month|date:"Y. F" }}</button>
        {% endfor %}
    </div>

    <ul id="transaction-list" class="list-group shadow-sm">
        {% for t in transactions %}
            <li class="list-group-item d-flex justify-content-between align-items-center
            {% if forloop.counter > 10 %}extra-item d-none{% endif %}">
                <div>
                    {{ t.date }} | {{ t.category.name }}
                    {% if t.description != "" %}
                        ({{ t.description }})
                    {% else %}
                        (Nincs megjegyzés)
                    {% endif %}
                </div>

                <div>
                    <span class="badge {% if t.category.type == 'EXPENSE' %}bg-danger{% else %}bg-success{% endif %} rounded-pill fs-6 me-2">
                        {% if t.category.type == 'EXPENSE' %}-{% else %}+{% endif %}{{ t.amount }} Ft
                    </span>
                    
                    <a href="{% url 'delete_transaction' t.id %}" class="btn btn-sm btn-outline-danger">X</a>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item text-center text-muted">Még nincs rögzített tranzakciód.</li>
        {% endfor %}
    </ul>

    <div class="d-flex justify-content-center mb-4">
        <button id="show-more-btn" class="btn btn-outline-primary mt-2 {% if transactions.count <= 10 %}d-none{% endif %}">További tranzakciók</button>
    </div>
</div>

    <script src="{% static 'core/dashboard.js' %}"></script>
</body>
</html>